nextflow.enable.dsl = 2

manifest {
    name            = 'break-through-cancer/parabricks-bqsr'
    homePage        = 'https://github.com/break-through-cancer/parabricks-bqsr'
    nextflowVersion = '!>=26.04.0'
}

plugins {
    id 'nf-schema@2.8.0'
}

params.input  = null
params.outdir = './results'

params.genome        = 'GATK.GRCh38'
params.igenomes_base = 's3://ngi-igenomes/igenomes/'
params.ref_fasta     = null
params.ref_fasta_fai = null
params.bwa_index     = null
params.known_sites   = null
params.intervals     = null
params.no_intervals  = false

params.seq_platform = 'ILLUMINA'

params.trim_fastq          = false
params.clip_r1             = 0
params.clip_r2             = 0
params.three_prime_clip_r1 = 0
params.three_prime_clip_r2 = 0
params.trim_nextseq        = false
params.length_required     = 15
params.save_trimmed        = false

params.markdups_se_mode                 = '5prime'
params.optical_duplicate_pixel_distance = 100
params.fq2bam_gpus                      = 2
params.fq2bam_low_memory                = false
params.fq2bam_gpuwrite                  = true

params.output_fmt = 'cram'
params.cram_version = '3.0'

params.quantize_quals_enabled       = true
params.quantize_quals_container     = 'ghcr.io/break-through-cancer/parabricks-bqsr:0.1.2'
params.static_quantized_quals       = '10,20,30'
params.preserve_qscores_less_than   = 6
params.round_down_quantized         = false

includeConfig 'conf/modules.config'

docker {
    enabled = true
}

timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline.html"; overwrite = true }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report.html"; overwrite = true }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace.txt"; overwrite = true }
