nextflow.enable.dsl = 2

params.input  = null
params.outdir = './results'

params.ref_fasta     = 's3://broad-references/hg38/v0/Homo_sapiens_assembly38.fasta'
params.ref_fasta_fai = 's3://broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.fai'

params.output_fmt = 'cram'

params.quantize_quals_enabled       = false
params.quantize_quals_container     = 'quantize-quals:0.1.0'
params.static_quantized_quals       = '10,20,30'
params.preserve_qscores_less_than   = 6
params.round_down_quantized         = false

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PARABRICKS_APPLYBQSR' { publishDir = [ enabled: false ] }
    withName: 'QUANTIZE_QUALS' {
        ext.args = {
            [
                "--static-quantized-quals ${params.static_quantized_quals.toString().tokenize(',')*.trim().join(' ')}",
                "--preserve-qscores-less-than ${params.preserve_qscores_less_than}",
                params.round_down_quantized ? '--round-down-quantized' : ''
            ].findAll().join(' ')
        }
    }
}

docker {
    enabled = true
}
