process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTP' {
        publishDir = [
            [path: { "${params.outdir}/reports/fastp/${meta.sample}" }, mode: 'copy', pattern: '*.fastp.{json,html}'],
            [path: { "${params.outdir}/preprocessing/fastp/${meta.sample}" }, mode: 'copy', pattern: '*.trimmed.fastq.gz', enabled: params.save_trimmed]
        ]
    }
    withName: 'SAMTOOLS_STATS'    { publishDir = [path: { "${params.outdir}/reports/samtools/${meta.sample}" }, mode: 'copy'] }
    withName: 'SAMTOOLS_FLAGSTAT' { publishDir = [path: { "${params.outdir}/reports/samtools/${meta.sample}" }, mode: 'copy'] }
    withName: 'MOSDEPTH'       { publishDir = [path: { "${params.outdir}/reports/mosdepth/${meta.sample}" }, mode: 'copy'] }
    withName: 'MULTIQC'        { publishDir = [path: { "${params.outdir}/multiqc" }, mode: 'copy'] }
    withName: 'TABIX_VCF'      { publishDir = [enabled: false] }
    withName: 'SAMTOOLS_FINALIZE_RAW' {
        publishDir = [path: { "${params.outdir}/preprocessing/markduplicates/${meta.sample}" }, mode: 'copy', pattern: '*.{cram,crai,bam,bai}']
    }
    withName: 'PARABRICKS_FQ2BAM_PART' {
        accelerator      = { params.fq2bam_gpus }
        containerOptions = { task.executor == 'local' && workflow.containerEngine == 'docker' ? '--gpus all' : '' }
        publishDir       = [ enabled: false ]
    }
    withName: 'PARABRICKS_FQ2BAM' {
        accelerator      = { params.fq2bam_gpus }
        containerOptions = { task.executor == 'local' && workflow.containerEngine == 'docker' ? '--gpus all' : '' }
        publishDir       = [
            [path: { "${params.outdir}/preprocessing/recal_table/${meta.sample}" }, mode: 'copy', pattern: '*.table'],
            [path: { "${params.outdir}/reports/markduplicates/${meta.sample}" }, mode: 'copy', pattern: '*.duplicate-metrics.txt'],
            [path: { "${params.outdir}/reports/parabricks_qc/${meta.sample}" }, mode: 'copy', pattern: '*_qc_metrics']
        ]
    }
    withName: 'PARABRICKS_MARKDUP' {
        accelerator      = 1
        containerOptions = { task.executor == 'local' && workflow.containerEngine == 'docker' ? '--gpus all' : '' }
        publishDir       = [
            [path: { "${params.outdir}/preprocessing/recal_table/${meta.sample}" }, mode: 'copy', pattern: '*.table'],
            [path: { "${params.outdir}/reports/markduplicates/${meta.sample}" }, mode: 'copy', pattern: '*.duplicate-metrics.txt'],
            [path: { "${params.outdir}/reports/parabricks_qc/${meta.sample}" }, mode: 'copy', pattern: '*_qc_metrics']
        ]
    }
    withName: 'PARABRICKS_APPLYBQSR' {
        accelerator      = 1
        containerOptions = { task.executor == 'local' && workflow.containerEngine == 'docker' ? '--gpus all' : '' }
        publishDir       = [ enabled: false ]
    }
    withName: 'QUANTIZE_QUALS|SAMTOOLS_FINALIZE' {
        publishDir = [
            [path: { "${params.outdir}/preprocessing/${meta.suffix == 'recal' ? 'recalibrated' : 'markduplicates'}/${meta.sample}" },
             mode: 'copy', pattern: "*.{bam,cram,bai,crai}"],
            [path: { "${params.outdir}/reports/quantize/${meta.sample}" }, mode: 'copy', pattern: '*.quantize.log']
        ]
    }
    withName: 'QUANTIZE_QUALS' {
        ext.args = {
            [
                "--static-quantized-quals ${params.static_quantized_quals.toString().tokenize(',')*.trim().join(' ')}",
                "--preserve-qscores-less-than ${params.preserve_qscores_less_than}",
                "--cram-version ${params.cram_version}",
                params.round_down_quantized ? '--round-down-quantized' : ''
            ].findAll().join(' ')
        }
    }
}
