process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PARABRICKS_APPLYBQSR' {
        accelerator      = 1
        containerOptions = { task.executor == 'local' && workflow.containerEngine == 'docker' ? '--gpus all' : '' }
        publishDir       = [ enabled: false ]
    }
    withName: 'QUANTIZE_QUALS' {
        ext.args = {
            [
                "--static-quantized-quals ${params.static_quantized_quals.toString().tokenize(',')*.trim().join(' ')}",
                "--preserve-qscores-less-than ${params.preserve_qscores_less_than}",
                params.round_down_quantized ? '--round-down-quantized' : ''
            ].findAll().join(' ')
        }
    }
}
