process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PARABRICKS_FQ2BAM' {
        accelerator      = { params.fq2bam_gpus }
        containerOptions = { task.executor == 'local' && workflow.containerEngine == 'docker' ? '--gpus all' : '' }
        publishDir       = [
            [path: { "${params.outdir}/preprocessing/recal_table/${meta.sample}" }, mode: 'copy', pattern: '*.table'],
            [path: { "${params.outdir}/reports/markduplicates/${meta.sample}" }, mode: 'copy', pattern: '*.duplicate-metrics.txt'],
            [path: { "${params.outdir}/reports/parabricks_qc/${meta.sample}" }, mode: 'copy', pattern: '*_qc_metrics']
        ]
    }
    withName: 'PARABRICKS_APPLYBQSR' {
        accelerator      = 1
        containerOptions = { task.executor == 'local' && workflow.containerEngine == 'docker' ? '--gpus all' : '' }
        publishDir       = [ enabled: false ]
    }
    withName: 'QUANTIZE_QUALS|SAMTOOLS_FINALIZE' {
        publishDir = [
            [path: { "${params.outdir}/preprocessing/${meta.suffix == 'recal' ? 'recalibrated' : 'markduplicates'}/${meta.sample}" },
             mode: 'copy', pattern: "*.{bam,cram,bai,crai}"],
            [path: { "${params.outdir}/reports/quantize/${meta.sample}" }, mode: 'copy', pattern: '*.quantize.log']
        ]
    }
    withName: 'QUANTIZE_QUALS' {
        ext.args = {
            [
                "--static-quantized-quals ${params.static_quantized_quals.toString().tokenize(',')*.trim().join(' ')}",
                "--preserve-qscores-less-than ${params.preserve_qscores_less_than}",
                params.round_down_quantized ? '--round-down-quantized' : ''
            ].findAll().join(' ')
        }
    }
}
