process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2

    withName: 'PARABRICKS_APPLYBQSR' {
        accelerator   = 1
        queue         = env('PW_ONDEMAND_JOB_QUEUE')
        errorStrategy = { task.exitStatus in ((130..145) + 104 + (175..177)) ? 'retry' : 'finish' }
        maxRetries    = 2
    }
    withName: 'QUANTIZE_QUALS|SAMTOOLS_FINALIZE' {
        memory = { 8.GB * task.attempt }
    }
}
